{
    admin off
}

# NOTE: swap in "localhost:80" in development

recipes.eerieemu.com:443 {
    # no robot index
    header X-Robots-Tag noindex
    # the route directive lets you define the specific order of the processing
    # so we can match static files first and then reverse proxy everything else
    route {
        root /static/* /app/
        file_server /static/*
        reverse_proxy recipes:80
    }
}

# redirect old app port
:8080 {
    redir https://recipes.crabdance.com permanent
}
