<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Recipe API</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
	<link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">
	<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">

</head>
<body class="container">

	<section class="section">
		<div class="container">
			<h1 class="title">Recipe API</h1>
      <h2 class="subtitle">
	      A recipe <strong>database</strong> with <strong>api</strong> access
      </h2>
			<div id="app">
				<!-- search input -->
				<form @submit="submit">
					<b-field>
						<b-input placeholder="Search..." v-model="searchQuery" type="search" icon-pack="fas" size="is-large" icon="search">
						</b-input>
					</b-field>
				</form>
				<!-- search results -->
				<div class="section columns is-multiline">
					<div class="card column is-half-tablet is-one-third-desktop" v-for="recipe in searchResults" :key="recipe.slug">
						<div class="card-image">
							<figure class="image is-4by3">
								<img :src="recipe.image_path">
							</figure>
						</div>
						<div class="card-content">
							<div class="media">
								<div class="media-content">
									<p class="title is-4">{{ recipe.name }}</p>
									<p class="subtitle is-6">{{ recipe.total_time }}</p>
								</div>
							</div>
							<div class="content">
								{{ recipe.description }}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>
<script src="https://unpkg.com/rxjs@6.5.5/bundles/rxjs.umd.min.js"></script>

<script>
	new Vue({
		el: '#app',
		data: {
			searchQuery: '',
			searchResults: [],
		},
		methods: {
			submit: function(e) {
				fetch(`/api/recipe/?search=${this.searchQuery}`).then((response) => {
					if (response.ok) {
						response.json().then((data) => {
							this.searchResults = data.results;
						})
					}
				});
				e.preventDefault();
			}
		}
	})
</script>
</body>
</html>
