<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Recipe DB</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
	<link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">
	<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
	<style>
		.recipe-image {
			object-fit: cover;
		}
	</style>
</head>

<body>

	<div id="app" class="container">
		<div>
			<template>
				<b-navbar>
					<template slot="brand">
						<b-navbar-item tag="router-link" to="/">
							<img src="/static/logo.png">&nbsp;&nbsp;Home
						</b-navbar-item>
					</template>
					<template slot="start">
						<b-navbar-item tag="router-link" to="/api">
							API
						</b-navbar-item>
					</template>
				</b-navbar>
			</template>
			<section class="section">
				<div class="container">
					<router-view></router-view>
				</div>
			</section>
		</div>
	</div>

	<!-- home -->
	<script type="text/x-template" id="main">
		<div>
			<section class="hero">
				<div class="hero-body">
					<div class="container">
						<h1 class="title">Recipe Database</h1>
						<h2 class="subtitle">A recipe <strong>database</strong> with <strong>api</strong> access</h2>
					</div>
				</div>
			</section>
			<div>
				<!-- search -->
				<form class="columns is-multiline" @submit="onSearch">
					<!-- search input -->
					<div class="column is-12">
						<b-field>
							<b-input placeholder="Search..." v-model="searchQuery" type="search" icon-pack="fas" size="is-large" icon="search">
							</b-input>
						</b-field>
					</div>
					<!-- cuisine filter -->
					<b-field class="column is-4">
						<b-taginput
							v-model="cuisinesChosen"
							:data="cuisinesFiltered"
							size="is-small"
							autocomplete
							:open-on-focus="true"
							field="name"
							placeholder="cuisines..."
							@add="cuisineAdded"
							@typing="getFilteredCuisines">
						</b-taginput>
					</b-field>
					<!-- categories filter -->
					<!-- TODO
					<b-field class="column is-4">
						<b-taginput
							placeholder="categories..."
							size="is-small"
						>
						</b-taginput>
					</b-field>
					-->
					<div class="field column">
						<b-switch size="is-small" v-model="hasImage">has image</b-switch>
					</div>
					<div class="column is-12" style="text-align: right">
						<button class="button is-primary is-light is-large">Search</button>
					</div>
				</form>
				<!-- search results loading -->
				<section v-if="isLoading">
					<b-skeleton width="20%" :animated="true"></b-skeleton>
					<b-skeleton width="40%" :animated="true"></b-skeleton>
					<b-skeleton width="80%" :animated="true"></b-skeleton>
					<b-skeleton :animated="true"></b-skeleton>
				</section>
				<!-- search results -->
				<div v-if="!isLoading" class="section columns is-multiline">
					<div class="card column is-half-tablet is-one-third-desktop" v-for="recipe in searchResults" :key="recipe.slug">
						<router-link :to="{path: '/recipe/' + recipe.id}">
							<div class="card-image">
								<figure class="image is-4by3">
									<img class="recipe-image" :src="recipe.image_path || '/static/recipes/empty.png'">
								</figure>
							</div>
							<div class="card-content">
								<div class="media">
									<div class="media-content">
										<p class="title is-4">{{ recipe.name }}</p>
										<p class="subtitle is-6">
										<div>Time: {{ recipe.total_time }} minutes</div>
										<div>Servings: {{ recipe.servings }}</div>
										<div v-if="recipe.rating_value">
											<b-tooltip position="is-right" :label="'Rating: ' + recipe.rating_value + ', Ratings: ' + recipe.rating_count" multilined>
												<span v-for="rating in [1,2,3,4,5]">
													<i class="far fa-star is-small" :class="{'has-text-success': recipe.rating_value >= rating}"></i>
												</span>
											</b-tooltip>
										</div>
										</p>
									</div>
								</div>
								<div class="content">
									{{ recipe.description }}
								</div>
							</div>
						</router-link>
					</div>
				</div>
			</div>
		</div>
	</script>

	<!-- recipe -->
	<script type="text/x-template" id="recipe">
		<div v-if="recipe" class="card">
			<div class="card-content">
				<div class="media">
					<div class="media-content">
						<p class="title is-4">{{ recipe.name }}</p>
						<div class="subtitle is-6">
							<div><strong>Time:</strong> {{ recipe.total_time }} minutes</div>
							<div><strong>Servings:</strong> {{ recipe.servings }}</div>
							<div v-if="recipe.rating_value">
								<b-tooltip :label="'Rating: ' + recipe.rating_value + ', Ratings: ' + recipe.rating_count" multilined>
									<span v-for="rating in [1,2,3,4,5]" class="icon" :class="{'has-text-success': recipe.rating_value >= rating}">
										<i class="far fa-star is-small"></i>
									</span>
								</b-tooltip>
							</div>
						</div>
					</div>
				</div>
				<div class="content">
					<div class="columns">
						<div class="column">
							{{ recipe.description }}
						</div>
						<div class="column">
							<figure class="image">
								<img :src="recipe.image_path">
							</figure>
						</div>
					</div>
					<div class="columns">
						<div class="column is-6">
								<h2>Ingredients</h2>
								<li v-for="ingredient in recipe.ingredients">{{ ingredient }}</li>
						</div>
						<div class="column is-6">
							<h2>Instructions</h2>
							<li v-for="instruction in recipe.instructions">{{ instruction }}</li>
						</div>
					</div>
				</div>
			</div>
		</div>
  </script>

	<!-- api -->
	<script type="text/x-template" id="api">
		<section class="hero">
			<div class="hero-body">
				<div class="container">
					<h1 class="title">
						Recipe API
					</h1>
					<h2 class="subtitle">
						The recipe database is powered by a public REST API.  The source code is open source.
					</h2>
					<div class="content">
						<ul>
							<li>
								<a href="/api/">api</a>
							</li>
							<li>
								<a href="https://github.com/flackdl/recipe_api">source code</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
  </script>

<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>
<script src="https://unpkg.com/rxjs@6.5.5/bundles/rxjs.umd.min.js"></script>
<script src="https://unpkg.com/vue-router@3.1.6/dist/vue-router.js"></script>

<script>
	let app = new Vue({
		el: '#app',
		router: new VueRouter({
			routes: [
				{ path: '/',
					name: 'main',
					component: {
						template: '#main',
						data () {
							return {
								cuisines: [],
								cuisinesFiltered: [],
								cuisinesChosen: [],
								searchQuery: '',
								searchResults: [],
								isLoading: false,
								loadingComponent: null,
								hasImage: true,
							}
						},
						created () {
							this.loadCoreData().then(() => {
								this.search();
							});
						},
						methods: {
							cuisineAdded() {
								this.cuisinesFiltered = this.cuisines.slice();
							},
							getFilteredCuisines(text) {
								this.cuisinesFiltered = this.cuisines.filter((cuisine) => {
									return cuisine.name
										.toLowerCase()
										.indexOf(text.toLowerCase()) >= 0
								})
							},
							loadCoreData() {
								this.showLoading();
								return fetch(`/api/cuisine/`).then((response) => {
									if (response.ok) {
										return response.json().then((data) => {
											this.cuisines = data.results;
											this.cuisinesFiltered = this.cuisines.slice();
											this.hideLoading();
										})
									}
								});
							},
							showLoading() {
								this.loadingComponent = this.$buefy.loading.open();
							},
							hideLoading () {
								this.loadingComponent.close();
							},
							onSearch (e) {
								this.$router.push({
									name: 'main',
									query: {
										search: this.searchQuery,
										cuisines: this.cuisinesChosen,
									},
								});
								this.search();
								e.preventDefault();
							},
							search () {
								this.isLoading = true;
								let params = this.cuisinesChosen.map((cuisine) => {
									return `cuisines=${cuisine.id}`;
								});
								if (this.hasImage) {
									params = params.concat([`has_image=${this.hasImage}`]);
								}
								fetch(`/api/recipe/?search=${this.searchQuery}&${params.join('&')}`).then((response) => {
									if (response.ok) {
										response.json().then((data) => {
											this.searchResults = data.results;
											this.isLoading = false;
										})
									} else {
										// TODO - show error
									}
								});
							},
						}
					}
				},
				{ path: '/recipe/:id',
					name: 'recipe',
					component: {
						template: '#recipe',
						created () {
							fetch(`/api/recipe/${this.$route.params.id}/`).then((response) => {
								response.json().then((data) => {
									this.recipe = data;
								})
							})
						},
						data () {
							return {
								recipe: null,
							}
						},
						methods: {
						}
					},
				},
				{ path: '/api', name: 'api', component: { template: '#api' }},
			],
		}),
	});
</script>
</body>
</html>
