<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Recipe DB</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
	<link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">
	<link rel="icon" type="image/png" href="/static/logo.png">
	<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
	<style>
		.recipe .tag {
			margin: 2px 0;
		}
		.recipe-image {
			object-fit: cover;
		}
		.text-right {
			text-align: right;
		}
	</style>
</head>

<body>

	<div id="app" class="container">
		<div>
			<template>
				<b-navbar>
					<template slot="brand">
						<b-navbar-item tag="router-link" to="/">
							<img src="/static/logo.png">&nbsp;&nbsp;Home
						</b-navbar-item>
					</template>
					<template slot="start">
						<b-navbar-item tag="router-link" to="/api">
							About
						</b-navbar-item>
					</template>
				</b-navbar>
			</template>
			<section class="section">
				<div class="container">
					<transition>
						<router-view></router-view>
					</transition>
				</div>
			</section>
		</div>
	</div>

	<!-- home -->
	<script type="text/x-template" id="main">
		<div>
			<section class="hero">
				<div class="hero-body">
					<div class="container">
						<h1 class="title">Recipe Database</h1>
						<h2 class="subtitle">A recipe <strong>database</strong> with <router-link to="api" class="has-text-dark"><u><strong>api</strong></u></router-link> access</h2>
					</div>
				</div>
			</section>
			<div>
				<!-- search -->
				<form class="columns is-multiline is-mobile" @submit="onSearch">
					<!-- search input -->
					<div class="column is-12">
						<b-field>
							<b-input placeholder="Search..." id="search" v-model="searchQuery" type="search" icon-pack="fas" size="is-large" icon="search">
							</b-input>
						</b-field>
					</div>
					<!-- cuisine filter -->
					<b-field class="column is-6">
						<b-taginput
							v-model="categoriesChosen[categoryTypeCuisines]"
							:data="categoriesFiltered[categoryTypeCuisines]"
							size="is-small"
							icon-pack="fas"
							icon="globe-americas"
							type="is-info"
							autocomplete
							:open-on-focus="true"
							field="name"
							placeholder="cuisines..."
							@add="categoryAdded"
							@typing="setFilteredCategoriesCuisines">
						</b-taginput>
					</b-field>
					<!-- meal types filter -->
					<b-field class="column is-6">
						<b-taginput
							v-model="categoriesChosen[categoryTypeMealTypes]"
							:data="categoriesFiltered[categoryTypeMealTypes]"
							size="is-small"
							icon-pack="fas"
							icon="utensils"
							type="is-info"
							autocomplete
							:open-on-focus="true"
							field="name"
							placeholder="meal types..."
							@add="categoryAdded"
							@typing="setFilteredCategoriesMealTypes">
						</b-taginput>
					</b-field>
					<!-- dish types filter -->
					<b-field class="column is-6">
						<b-taginput
							v-model="categoriesChosen[categoryTypeDishTypes]"
							:data="categoriesFiltered[categoryTypeDishTypes]"
							size="is-small"
							icon-pack="fas"
							icon="utensils"
							type="is-info"
							autocomplete
							:open-on-focus="true"
							field="name"
							placeholder="dish types..."
							@add="categoryAdded"
							@typing="setFilteredCategoriesDishTypes">
						</b-taginput>
					</b-field>
					<!-- special diets filter -->
					<b-field class="column is-6">
						<b-taginput
							v-model="categoriesChosen[categoryTypeSpecialDiets]"
							:data="categoriesFiltered[categoryTypeSpecialDiets]"
							size="is-small"
							icon-pack="fas"
							icon="user"
							type="is-info"
							autocomplete
							:open-on-focus="true"
							field="name"
							placeholder="special diets..."
							@add="categoryAdded"
							@typing="setFilteredCategoriesSpecialDiets">
						</b-taginput>
					</b-field>
					<div class="field column">
						<b-switch size="is-small" v-model="hasImage" @change.native="onSearch($event)">has image</b-switch>
					</div>
					<div class="column is-12 text-right">
						<b-button native-type="submit" type="is-primary" size="is-large" :loading="isContentLoading">Search</b-button>
					</div>
				</form>

				<!-- loading skeleton -->
				<loading-skeleton v-if="isContentLoading"></loading-skeleton>

				<!-- search results -->
				<div v-if="!isContentLoading">
					<div v-if="searchResults && searchResults.results.length === 0" class="notification is-warning">
						There were no results found
					</div>
					<div class="section columns is-multiline" v-if="hasSearchResults()">
						<div class="column is-12 has-text-grey-light is-size-6 text-right">
							<div>{{ searchResults.count }} results</div>
						</div>
						<div class="card column is-half-tablet is-one-third-desktop" v-for="recipe in searchResults.results" :key="recipe.slug">
							<router-link :to="{path: '/recipe/' + recipe.slug}" class="has-text-dark">
								<div class="card-image">
									<figure class="image is-4by3">
										<img class="recipe-image" :src="recipe.image_path || '/static/recipes/empty.png'">
									</figure>
								</div>
								<div class="card-content">
									<div class="media">
										<div class="media-content">
											<recipe-header :recipe="recipe"></recipe-header>
										</div>
									</div>
									<!-- description -->
									<div class="content" v-html="recipe.description"></div>
								</div>
							</router-link>
						</div>
						<div class="column is-12 text-right" v-if="searchResults.next">
							<button class="button is-info is-light is-large" @click="loadNextPage()">Next</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</script>

	<!-- loading skeleton -->
	<script type="text/x-template" id="loading-skeleton">
		<section>
			<b-skeleton width="20%" :animated="true"></b-skeleton>
			<b-skeleton width="40%" :animated="true"></b-skeleton>
			<b-skeleton width="80%" :animated="true"></b-skeleton>
			<b-skeleton :animated="true"></b-skeleton>
		</section>
	</script>

	<!-- recipe header -->
	<script type="text/x-template" id="recipe-header">
		<div class="recipe">
			<p class="title is-4">{{ recipe.name }}</p>
			<div class="subtitle is-6">
				<div><span class="tag is-light">Time</span> {{ recipe.total_time_string }}</div>
				<div><span class="tag is-light">Servings</span> {{ recipe.servings }}</div>
				<div v-if="recipe.rating_value">
					<span class="tag is-light">Rating</span>
					<span v-for="rating in [1,2,3,4,5]">
					<i class="far fa-star is-small" :class="{'has-text-success': recipe.rating_value >= rating}"></i>
				</span>
					<small class="has-text-grey-light">({{ recipe.rating_count }})</small>
				</div>
			</div>
		</div>
	</script>

	<!-- recipe -->
	<script type="text/x-template" id="recipe">
		<div>
			<loading-skeleton v-if="isContentLoading"></loading-skeleton>
			<div v-if="!isContentLoading" class="card">
				<div class="card-content">
					<div class="media">
						<div class="media-content">
							<recipe-header :recipe="recipe"></recipe-header>
							<a :href="tag.link" v-for="tag in getTags()" class="tag is-link is-light is-rounded">{{ tag.label }}</a>
						</div>
					</div>
					<div class="content">
						<div class="columns">
							<div class="column" v-html="recipe.description"></div>
							<div class="column">
								<figure class="image">
									<img :src="recipe.image_path">
								</figure>
							</div>
						</div>
						<div class="columns">
							<div class="column is-6">
								<h2>Ingredients</h2>
								<div v-for="ingredient in recipe.ingredients">
									<h6 v-if="isSectionHeader(ingredient)" class="my-3">{{ sanitizeSectionHeader(ingredient) }}</h6>
									<div class="box my-1" v-if="!isSectionHeader(ingredient)">
										<span v-html="ingredient"></span>
									</div>
								</div>
							</div>
							<div class="column is-6">
								<h2>Instructions</h2>
								<div v-for="instruction in recipe.instructions">
									<h6 v-if="isSectionHeader(instruction)" class="my-3">{{ sanitizeSectionHeader(instruction) }}</h6>
									<div class="box my-1" v-if="!isSectionHeader(instruction)">
										<span v-html="instruction"></span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
  </script>

	<!-- api -->
	<script type="text/x-template" id="api">
		<section class="hero">
			<div class="hero-body">
				<div class="container">
					<h1 class="title">
						Recipe API
					</h1>
					<h2 class="subtitle">
						The recipe database is powered by a public REST API.  The code is open source.
					</h2>
					<div class="content">
						<ul>
							<li>
								<a href="/api/">api</a>
							</li>
							<li>
								<a href="https://github.com/flackdl/recipe_api">source code</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
  </script>

<script src="https://unpkg.com/vue@2.6.11/dist/vue.js"></script>
<script src="https://unpkg.com/buefy@0.8.17/dist/buefy.min.js"></script>
<script src="https://unpkg.com/rxjs@6.5.5/bundles/rxjs.umd.min.js"></script>
<script src="https://unpkg.com/vue-router@3.1.6/dist/vue-router.js"></script>

<script>
	let coreMixin = {
		data() {
			return {
				categories: [],
				loadingComponent: null,
				isContentLoading: true,
			}
		},
		methods: {
			showLoading() {
				this.loadingComponent = this.$buefy.loading.open();
			},
			hideLoading () {
				this.loadingComponent.close();
			},
			loadCoreData() {
				return rxjs.ajax.ajax.getJSON('/api/category/').pipe(
						rxjs.operators.map((data) => {
							// only include categories with a type
							this.categories = data.filter((category) => {
								return category.type;
							});
							return {
								categories: this.categories,
							};
						}),
					);
			},
		}
	}

	// loading skeleton
	Vue.component('loading-skeleton', {
		template: '#loading-skeleton',
	});

	// recipe header component
	Vue.component('recipe-header', {
		props: ['recipe'],
		data: function () {
			return {
			}
		},
		template: '#recipe-header',
	});

	const CATEGORY_CUISINES = 'cuisines';
	const CATEGORY_MEAL_TYPES = 'meal_types';
	const CATEGORY_DISH_TYPES = 'dish_types';
	const CATEGORY_SPECIAL_DIETS = 'special_diets';

	// main app
	let app = new Vue({
		el: '#app',
		mixins: [coreMixin],
		router: new VueRouter({
			routes: [
				{ path: '/',
					name: 'main',
					component: {
						template: '#main',
						mixins: [coreMixin],
						data () {
							return {
								page: 1,
								// need to redefine these, so they're available in the templates
								categoryTypeCuisines: CATEGORY_CUISINES,
								categoryTypeMealTypes: CATEGORY_MEAL_TYPES,
								categoryTypeDishTypes: CATEGORY_DISH_TYPES,
								categoryTypeSpecialDiets: CATEGORY_SPECIAL_DIETS,
								categoriesFiltered: {
									[CATEGORY_CUISINES]: [],
									[CATEGORY_MEAL_TYPES]: [],
									[CATEGORY_DISH_TYPES]: [],
									[CATEGORY_SPECIAL_DIETS]: [],
								},
								categoriesChosen: {
									[CATEGORY_CUISINES]: [],
									[CATEGORY_MEAL_TYPES]: [],
									[CATEGORY_DISH_TYPES]: [],
									[CATEGORY_SPECIAL_DIETS]: [],
								},
								searchQuery: '',
								searchResults: null,
								hasImage: true,
								pageTitle: document.title,
							}
						},
						beforeRouteUpdate (to, from, next) {
							// handle route changes in the same component since the normal life cycle hooks aren't called
							this.searchQuery = to.query.search || '';
							this.page = to.query.page || 1;
							this.categoriesChosen = {
								[CATEGORY_CUISINES]: this.filterCategoryObjectsFromIdsAndType(to.query.categories || [], CATEGORY_CUISINES),
								[CATEGORY_MEAL_TYPES]: this.filterCategoryObjectsFromIdsAndType(to.query.categories || [], CATEGORY_MEAL_TYPES),
								[CATEGORY_DISH_TYPES]: this.filterCategoryObjectsFromIdsAndType(to.query.categories || [], CATEGORY_DISH_TYPES),
								[CATEGORY_SPECIAL_DIETS]: this.filterCategoryObjectsFromIdsAndType(to.query.categories || [], CATEGORY_SPECIAL_DIETS),
							}
							this.search();
							next();
						},
						created () {

							// reset page title
							document.title = this.pageTitle;

							this.showLoading();

							// fetch core data
							this.loadCoreData().subscribe(() => {
								this.hideLoading();

								// make copies of the filterable categories
								this.resetCategoriesFiltered();

								// initialize form state from query params
								this.searchQuery = this.$route.query.search || '';
								this.page = parseInt(this.$route.query.page || 1);
								this.categoriesChosen = {
									[CATEGORY_CUISINES]: this.filterCategoryObjectsFromIdsAndType(this.$route.query.categories || [], CATEGORY_CUISINES),
									[CATEGORY_MEAL_TYPES]: this.filterCategoryObjectsFromIdsAndType(this.$route.query.categories || [], CATEGORY_MEAL_TYPES),
									[CATEGORY_DISH_TYPES]: this.filterCategoryObjectsFromIdsAndType(this.$route.query.categories || [], CATEGORY_DISH_TYPES),
									[CATEGORY_SPECIAL_DIETS]: this.filterCategoryObjectsFromIdsAndType(this.$route.query.categories || [], CATEGORY_SPECIAL_DIETS),
								}

								// search
								this.search();
							});
						},
						methods: {
							filterCategoryObjectsFromIdsAndType(ids, type) {
								// coerce a list
								ids = Array.isArray(ids) ? ids : [ids];
								return this.categories.filter((category) => {
									return category.type === type && ids.includes(String(category.id));
								});
							},
							resetCategoriesFiltered() {
								// reset all the filtered categories
								for (let type of Object.getOwnPropertyNames(this.categoriesFiltered)) {
									this.categoriesFiltered[type] = this.categories.filter((category) => {
										return category.type === type;
									});
								}
							},
							hasSearchResults() {
								return this.searchResults && this.searchResults.results.length > 0;
							},
							categoryAdded() {
								// reset the categories choices
								this.resetCategoriesFiltered();
							},
							setFilteredCategoriesCuisines(text) {
								return this.setFilteredCategories(CATEGORY_CUISINES, text);
							},
							setFilteredCategoriesMealTypes(text) {
								return this.setFilteredCategories(CATEGORY_MEAL_TYPES, text);
							},
							setFilteredCategoriesDishTypes(text) {
								return this.setFilteredCategories(CATEGORY_DISH_TYPES, text);
							},
							setFilteredCategoriesSpecialDiets(text) {
								return this.setFilteredCategories(CATEGORY_SPECIAL_DIETS, text);
							},
							setFilteredCategories(catType, text) {
								this.categoriesFiltered[catType] = this.categories.filter((category) => {
									return category.type === catType && category.name
										.toLowerCase()
										.indexOf(text.toLowerCase()) >= 0
								});
							},
							onSearch (e) {
								// reset page since it's a new search
								this.page = 1;
								this.search();
								this.updateUrlParams();
								e.preventDefault();
							},
							search () {
								this.isContentLoading = true;

								// blur the input so the keyboard disappears on mobile devices
								document.querySelector('#search').blur();

								// fetch recipes
								this.fetchRecipes().then(() => {
									this.isContentLoading = false;
								});
							},
							loadNextPage() {
								this.page++;
								this.isContentLoading = true;
								this.updateUrlParams();
							},
							updateUrlParams() {
								// update the router query params
								this.$router.push(`?${this.getSearchUrlParams()}`)
									.catch((e) => console.error(e));
							},
							fetchRecipes() {

								const params = this.getSearchUrlParams();

								// construct url
								const url = `/api/recipe/${params}`;

								// fetch recipes
								return fetch(url).then((response) => {
									if (response.ok) {
										return response.json().then((data) => {
											this.searchResults = data;
										});
									} else {
										console.error(response);
									}
								});
							},
							getSearchUrlParams() {
								let params = [];

								// build category filters
								Object.getOwnPropertyNames(this.categoriesChosen).forEach((type) => {
									if (this.categoriesChosen[type].length) {
										this.categoriesChosen[type].forEach((category) => {
											params.push(`categories=${category.id}`)
										});
									}
								});
								// add image filter
								if (this.hasImage) {
									params = params.concat([`has_image=${this.hasImage}`]);
								}
								// add page filter
								params = params.concat([`page=${this.page}`]);

								// return url params
								return `?search=${this.searchQuery}&${params.join('&')}`;
							},
						}
					}
				},
				{ path: '/recipe/:slug',
					name: 'recipe',
					component: {
						template: '#recipe',
						mixins: [coreMixin],
						created () {

							// load core data
							this.loadCoreData().subscribe(() => {
							}, (error) => {
								console.error(error);
							});

							this.isContentLoading = true;

							// fetch recipe
							fetch(`/api/recipe/?slug=${this.$route.params.slug}`).then((response) => {
								response.json().then((data) => {
									this.isContentLoading = false;
									if (data.results.length > 0) {
										this.recipe = data.results[0];
										document.title = this.recipe.name;
									}
								})
							})
						},
						data () {
							return {
								recipe: null,
							}
						},
						methods: {
							getTags() {
								return this.categories.filter((category) => {
									return this.recipe.categories.includes(category.id);
								}).map((object) => {
									return {
										label: object.name,
										link: `#/?categories=${object.id}`,
									};
								});
							},
							isSectionHeader(value) {
								return /@@.*@@/.test(value);
							},
							sanitizeSectionHeader(value) {
								return value.replaceAll(/^@@/g, '').replaceAll(/@@$/g, '');
							},
						}
					},
				},
				{ path: '/api', name: 'api', component: { template: '#api' }},
			],
		}),
	});
</script>
</body>
</html>
